@font-face {
  font-family: 'Calibri';
  src: url(../fonts/Calibri.ttf);
}
@font-face {
  font-family: 'Calibri-Bold';
  src: url(../fonts/Calibri-Bold.ttf);
}
@font-face {
  font-family: 'SF-UI-Display-Medium';  
  src: url(../fonts/sf-ui-display-medium.ttf);  
}
.logo {
  float: left;
   margin-right: 37px;
  }
.nav {
  font-family: Calibri;
  font-size: 18px;
  color: #616161;
}  
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block; /*способ разместить элементы в строку*/
  margin-left: 77px;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 100%;
  max-width: 1250px;
  padding: 15px;
  margin-top: 0px;
  line-height: 60px;
}
.tel {
  font-family: Calibri-Bold;
  font-size: 18px;
  color: #141419;
}
a {
  text-decoration: none;
}
.center {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}
body {
  background: url(../img/background.png);
  }
h1,h2 {
  font-family: Calibri-Bold;
  font-size: 60px;
  font-weight: bold;
  line-height: 72px;
  color: #141419;
  }
h1 {
    margin-top: 103px;
}
.h2 {
  font-size: 60px;
  text-align: center;
  margin-top: 225px;
}
.box-1 {
  font-family: Calibri;
  font-size: 24px;
  line-height: 36px;
  color: #616161;
}
.box-2 {
  font-family: Calibri;
  font-size: 24px;
  line-height: 36px;
  color: #616161;
   text-align: center;
  }
.orange {
  font-family: Calibri-Bold;
  font-weight: bold;
  font-size: 24px;
  color: #fb973b;
}
.font {
  font-family: SF-UI-Display-Medium;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #616161;
  width: 194px;
  height: 56px;
}
input[placeholder] {
  text-align: center;
}
button {
  background: #fb973b;    
  border: none;
  padding: 1rem 1.5rem;
  width: 194px;
  height: 56px;
}
.fontb {
  color: #ffffff;
  font-family: SF-UI-Display-Medium;
  font-weight: bold;
  font-size: 18px;
}
p {
  font-family: Calibri;
  font-size: 18px;
  color: #141419;
}
.number {
  color: #fcba7c;
}
.double {
  position: absolute;
  right: 0;
  top: 121px;
}
.bottom {
  display: flex;
  justify-content: center;
  height: 100%;
}
.box-3 {
  font-family: Calibri;
  font-size: 24px;
  line-height: 36px;
  color: #616161;
  }
table {
  width: 1250px;
}
.ostankino {
  padding-left: 100px;
  padding-bottom: 60px;
}
.mirat {
  padding-bottom: 70px;
}
.agro {
  padding-left: 70px;
}
.komos {
  padding-left: 618px;
}