@font-face {
    font-family: 'Tahoma';
    src: url (../fonts/TahomaRegular.ttf);
}
.CalR{
    font-family: Tahoma;
    font-size: 18px;
    color: #616161;
}
.calbol {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
    color: #141419;
    text-decoration: none;
}
h1,h2 {
    font-family: Tahoma;
    font-weight: bold;
    color: #141419;
}
h2 {
    font-size: 32px;
}
.CalR24 {
    font-family: Tahoma;
    font-size: 24px;
    color: #616161;
}
.orange {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 24px;
    color: #fb973b;
}
.font {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
    color: #616161;
    width: 194px;
    height: 56px;
}
button {
    background: #fb973b;    
    border: none;
    padding: 1rem 1.5rem;
    width: 194px;
    height: 56px;
}

.fontb {
    color: #ffffff;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
}
p {
    font-family: Tahoma;
    font-size: 18px;
    color: #141419;
}
.number {
    color: #fcba7c;
}