@font-face {
  font-family: 'Calibri';
  src: url(../fonts/Calibri.ttf);
}
@font-face {
  font-family: 'Calibri-Bold';
   src: url(../fonts/Calibri-Bold.ttf);
}
@font-face {
  font-family: 'SF-UI-Display-Medium';  
  src: url(../fonts/sf-ui-display-medium.ttf);  
}
body {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
	background: url(../img/background.png);	
}
.logo {
	position: relative;
	right: 26px;
}
.list {
	display: flex;
}
ul > li:nth-child(6) {
	margin-left: auto;
} 
li {
	list-style-type: none;
	margin-right: 70px;
	font-family: Calibri;
	font-size: 18px;
  line-height: 82px;
}
.tel {
	font-family: Calibri-Bold;
  font-size: 18px;
	color: #141419;
	position: relative;
	left: 69px;
}
a {
	text-decoration: none;
	color: #616161;
}
header {
	display: flex;
	justify-content: space-between;
}
.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
h1,h2 {
  font-family: Calibri-Bold;
  font-size: 49px;
  font-weight: bold;
  line-height: 72px;
  color: #141419;
}
h1 {
  margin-top: 103px;
}
.h2 {
  text-align: center;
}
.box-1 {
  font-family: Calibri;
  font-size: 24px;
  line-height: 36px;
  color: #616161;
}
.orange {
  font-family: Calibri-Bold;
  font-weight: bold;
  font-size: 24px;
  color: #fb973b;
}
.font {
  font-family: SF-UI-Display-Medium;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #616161;
  width: 194px;
  height: 56px;
}
input[placeholder] {
  text-align: center;
}
button {
  background: #fb973b;    
  border: none;
  padding: 1rem 1.5rem;
  width: 194px;
  height: 58px;
}
.fontb {
  color: #ffffff;
  font-family: SF-UI-Display-Medium;
  font-weight: bold;
  font-size: 18px;
}
.box-2 {
  font-family: Calibri;
  font-size: 24px;
  line-height: 36px;
  color: #616161;
  text-align: center;
}
p {
  font-family: Calibri;
  font-size: 18px;
  color: #141419;
}
.tab {
	display: inline;
	position: relative;
	left: 153px;
}
.num1 {
	height: 20px;
	width: 20px;
	border: 1px solid #fb973b;
	border-radius: 50%;
	text-align: center;
	color: #fb973b;    
}
.num2 {
	text-align: center;
	color: #fb973b;
	position: relative;
	bottom: 5px;
}
.num3 {
	text-align: center;
	color: #fb973b;
	position: relative;
	top: 3px;
}
.bottom {
  display: flex;
  justify-content: center;
  height: 100%;
}
.box-3 {
  font-family: Calibri;
  font-size: 24px;
  line-height: 36px;
  color: #616161;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 115px;
}
.partn {
  position: relative;
  top: 40px;
}
footer td {
  padding: 0 24px 72px 0;
}
/*footer, main, header {
  background-color: cadetblue;
}*/